<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.auth.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="cn.goroute.smart.auth.domain.RolePermission">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="permissionUid" column="permission_uid" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,permission_uid,
        create_time,update_time
    </sql>

    <select id="selectByRoleIds" resultType="string">
        SELECT
            p.permission_name
        FROM
            role_permission rp
        LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE
            rp.role_id IN
            <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
                #{roleId}
            </foreach>
    </select>
</mapper>
