<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.post.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="cn.goroute.smart.post.domain.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="postId" column="post_id" jdbcType="BIGINT"/>
            <result property="toUserId" column="to_user_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="firstCommentId" column="first_comment_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,post_id,
        to_user_id,content,state,
        type,first_comment_id,create_time,
        update_time,deleted
    </sql>
    <update id="incrThumbNum">
		update comment
		set thumb_count = comment.thumb_count + #{thumbNum}
		where id = #{id}
	</update>

	<update id="descThumbNum">
		update comment
		set thumb_count = IF(comment.thumb_count > 0, comment.thumb_count - #{thumbNum}, 0)
		where id = #{id}
	</update>
</mapper>
