<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.post.modules.comment.mapper.CommentMapper">

    <update id="incrThumbNum">
		update comment
		set thumb_count = thumb_count + #{thumbNum}
		where id = #{id}
	</update>

	<update id="descThumbNum">
		update comment
		set thumb_count = IF(thumb_count > 0, thumb_count - #{thumbNum}, 0)
		where id = #{id}
	</update>
    <select id="queryPage" resultType="cn.goroute.smart.post.domain.entity.CommentEntity">

		select * from comment
		<where>
			<if test="commentQO.postId != null">
				post_id = #{commentQO.postId}
			</if>
			<if test="commentQO.userId != null">
				and user_id = #{commentQO.userId}
			</if>
			<if test="commentQO.type != null">
				and type = #{commentQO.type}
			</if>
			<if test="commentQO.firstCommentId != null">
				and first_comment_id = #{commentQO.firstCommentId}
			</if>
			<if test="status != null">
				and state = #{status}
			</if>
			and deleted = 0
		</where>
	</select>

    <select id="queryPostIdsByComment" resultType="cn.goroute.smart.post.domain.entity.CommentEntity">
        select * from comment
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and state = #{status}
            </if>
			and deleted = 0
        </where>
        group by post_id
    </select>

    <select id="queryMoreReply" resultType="cn.goroute.smart.post.domain.entity.CommentEntity">
		select * from comment
		<where>
			<if test="commentQO.postId != null">
				post_id = #{commentQO.postId}
			</if>
			<if test="commentQO.userId != null">
				and user_id = #{commentQO.userId}
			</if>
			<if test="commentQO.type != null">
				and type = #{commentQO.type}
			</if>
			<if test="commentQO.firstCommentId != null">
				and first_comment_id = #{commentQO.firstCommentId}
			</if>
			<if test="state != null">
				and state = #{status}
			</if>
			and deleted = 0
		</where>
	</select>
</mapper>
