<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.post.mapper.PostMapper">

	<resultMap id="BaseResultMap" type="cn.goroute.smart.post.domain.entity.PostEntity">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
		<result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
		<result property="authorId" column="author_id" jdbcType="BIGINT"/>
		<result property="title" column="title" jdbcType="VARCHAR"/>
		<result property="content" column="content" jdbcType="VARCHAR"/>
		<result property="state" column="state" jdbcType="TINYINT"/>
		<result property="collectCount" column="collect_count" jdbcType="INTEGER"/>
		<result property="thumbCount" column="thumb_count" jdbcType="INTEGER"/>
		<result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
		<result property="isPublish" column="is_publish" jdbcType="TINYINT"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="deleted" column="deleted" jdbcType="TINYINT"/>
	</resultMap>

	<update id="incrThumbNum">
		update post
		set thumb_count = thumb_count + #{thumbNum}
		where id = #{toId}
	</update>

	<update id="descThumbNum">
		update post
		set thumb_count = IF(thumb_count > 0, thumb_count - #{thumbNum}, 0)
		where id = #{toId}
	</update>

	<update id="incrCommentCount">
		update post
		set comment_count = comment_count + 1
		where id = #{postId}
	</update>

    <select id="queryPage" resultType="cn.goroute.smart.post.domain.entity.PostEntity">
        select * from post
        <where>
            <if test="postQO.categoryName != null and postQO.categoryName != ''">
                and category_name = #{postQO.categoryName}
            </if>
            <if test="postQO.tagName != null and postQO.tagName != ''">
                and tag_name = #{postQO.tagName}
            </if>
            <if test="postQO.userId != null">
                and author_id = #{postQO.userId}
            </if>
            <if test="status != null">
                and state = #{status}
            </if>
			and deleted = #{deleted}
        </where>
    </select>
</mapper>
