<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.post.modules.article.mapper.UserInteractMapper">

    <resultMap id="BaseResultMap" type="cn.goroute.smart.post.domain.entity.UserInteractEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="targetId" column="target_id" jdbcType="BIGINT"/>
            <result property="isThumb" column="is_thumb" jdbcType="TINYINT"/>
            <result property="isComment" column="is_comment" jdbcType="TINYINT"/>
            <result property="isCollect" column="is_collect" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,type,
        target_id,is_thumb,is_comment,
        is_collect,create_time,update_time
    </sql>
	<select id="selectByUserIdAndTypeAndTargetId" resultType="cn.goroute.smart.post.domain.entity.UserInteractEntity">
		select
		<include refid="Base_Column_List"/>
		from user_interact
		where user_id = #{userId}
		and type = #{type}
		and target_id = #{targetId}
	</select>
	<select id="batchGetUserPostInteract" resultType="cn.goroute.smart.post.domain.entity.UserInteractEntity">
		select
		<include refid="Base_Column_List"/>
		from user_interact
		where user_id = #{userId}
		and type = #{type}
		and target_id in
		<foreach collection="targetIds" item="targetId" open="(" separator="," close=")">
			#{targetId}
		</foreach>
	</select>
</mapper>
