<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.user.modules.profile.mapper.UserProfileMapper">

    <update id="updateIncrArticleNum">
		update user_profile
		set article_num = article_num + 1
		where user_id = #{userId}
	</update>
	<update id="updateIncrFansNum">
		update user_profile
		set fan_num = fan_num + 1
		where user_id = #{toUserId}
	</update>
	<update id="updateDecrFansNum">
		update user_profile
		set fan_num = fan_num - 1
		where user_id = #{toUserId}
	</update>
	<update id="updateIncrFollowNum">
		update user_profile
		set follow_num = follow_num + 1
		where user_id = #{userId}
	</update>
	<update id="updateDecrFollowNum">
		update user_profile
		set follow_num = follow_num - 1
		where user_id = #{userId}
	</update>
</mapper>
