<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.notice.mapper.NoticeMapper">

	<resultMap id="BaseResultMap" type="cn.goroute.smart.notice.domain.entity.NoticeEntity">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="senderId" column="sender_id" jdbcType="BIGINT"/>
		<result property="receiverId" column="receiver_id" jdbcType="BIGINT"/>
		<result property="msgInfoId" column="msg_info_id" jdbcType="BIGINT"/>
		<result property="status" column="status" jdbcType="TINYINT"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id
		,sender_id,receiver_id,
        msg_info_id,status,create_time,
        update_time
	</sql>
	<update id="updateNoticeStatus">
        UPDATE t_notice
        SET status = #{status}
        WHERE id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	<select id="queryNoticeIsExist" resultType="integer">
		SELECT count(*)
		FROM t_notice
				 INNER JOIN t_notice_message_info ON t_notice.msg_info_id = t_notice_message_info.id
		WHERE sender_id = #{senderId}
		  AND receiver_id = #{receiverId}
		  AND target_id = #{targetId}
		  AND msg_type = #{msgType};
	</select>

	<select id="queryNoticeCount" resultType="cn.goroute.smart.notice.domain.dto.NoticeCountVO">
		SELECT COUNT(*) AS noticeCount, msg_type as noticeType
		FROM t_notice
				 JOIN t_notice_message_info ON t_notice.msg_info_id = t_notice_message_info.id
		WHERE t_notice.receiver_id = #{receiverId}
		  AND t_notice.status = #{status}
		GROUP BY msg_type;
	</select>

    <select id="pageNotice" resultType="cn.goroute.smart.notice.domain.dto.NoticeMessageDTO">
		SELECT t_notice.id,
		       t_notice.sender_id,
			   t_notice_message_info.content,
			   t_notice_message_info.post_id,
			   t_notice_message_info.post_title,
			   t_notice_message_info.source_type,
			   t_notice.create_time,
			   t_notice.status
		FROM t_notice
				 JOIN t_notice_message_info ON t_notice.msg_info_id = t_notice_message_info.id
		WHERE t_notice.receiver_id = #{receiverId}
		  AND t_notice_message_info.msg_type = #{msgType}
		order by status
	</select>
</mapper>
