<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.goroute.smart.member.mapper.MemberMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.goroute.smart.member.entity.pojo.Member" id="memberMap">
        <response property="uid" column="uid"/>
        <response property="nickName" column="nick_name"/>
        <response property="email" column="email"/>
        <response property="passWord" column="pass_word"/>
        <response property="gender" column="gender"/>
        <response property="phone" column="phone"/>
        <response property="avatar" column="avatar"/>
        <response property="intro" column="intro"/>
        <response property="fans" column="fans"/>
        <response property="follow" column="follow"/>
        <response property="score" column="score"/>
        <response property="gitee" column="gitee"/>
        <response property="github" column="github"/>
        <response property="os" column="os"/>
        <response property="qqNumber" column="qq_number"/>
        <response property="commentStatus" column="comment_status"/>
        <response property="browser" column="browser"/>
        <response property="userTag" column="user_tag"/>
        <response property="status" column="status"/>
        <response property="lastLoginTime" column="last_login_time"/>
        <response property="lastLoginIp" column="last_login_ip"/>
        <response property="updatedTime" column="updated_time"/>
        <response property="createdTime" column="created_time"/>
    </resultMap>

    <update id="updateMemberStatus">
        UPDATE smart_ums.t_member SET status = #{status} WHERE uid = #{memberId}
    </update>

    <select id="selectByUid" resultType="cn.goroute.smart.member.entity.pojo.Member">
        SELECT * FROM smart_ums.t_member WHERE uid = #{uid}
    </select>


</mapper>