<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.auth.module.login.mapper.AuthUserMapper">

    <select id="selectByUserName" resultType="cn.goroute.smart.auth.domain.entity.AuthUserEntity">
        SELECT *
        FROM smart_auth.auth_user
        WHERE auth_user.user_name = #{username}
    </select>
	<select id="selectByUserEmail" resultType="cn.goroute.smart.auth.domain.entity.AuthUserEntity">
        SELECT *
        FROM smart_auth.auth_user
        WHERE auth_user.user_email = #{userEmail}
    </select>
</mapper>
