<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goroute.smart.post.mapper.CommentMapper">

    <sql id="Base_Column_List">
        uid,member_uid,to_uid,
        to_member_uid,content,status,
        type,first_comment_uid,created_time
    </sql>
</mapper>
